aws_access_key_id = "ACCESSKEYID"
aws_secret_access_key = "SEcreTAccessKeY"
prefix = "prefix-for-ec2-instances"
ssh_key_file_name = "~/.ssh/id_rsa"
aws_region = "us-east-1"
db_instance_type = "db.m5.large"
db_password = "*******"
domain = "your.domain.com"
rancher_url = "your-subdomain"
